@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Mona-Sans";
    src: url("../public/fonts/Mona-Sans.ttf");
    src: url("../public/fonts/Mona-Sans.woff");
    src: url("../public/fonts/Mona-Sans.woff2");
}

#root {
    @apply h-full w-full overflow-hidden font-mona
}

.cardDecoration {
    @apply h-1/5 w-full !bg-indigo-800 text-white p-[7px] 
}

.cardAnimation {
    @apply transition hover:scale-105 ease-out duration-300
}

.projects {
    @apply border-2 border-indigo-800 rounded-xl p-2 w-4/5 flex justify-center text-center
}

.mMenu {
    @apply text-white pl-6
}

body {
    background-color: #403060;
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.boxAnimation {
    animation: fade-in ease-out 0.8s;
}

@keyframes fade-in {
    0% {opacity: 0;
    transform: translateY(10px)}
    100% {opacity: 0.9;
    transform: translateY(0)}
}

/*  border animation
    from https://codepen.io/t_afif/pen/ExQLWNE */

.cardBorder {
    --g: 4px;
    --b: 5px; 
    --c: #fff; 
    
    
    padding: calc(var(--g) + var(--b));
    --_c: #0000 0 25%, var(--c) 0 50%;
    --_g1: repeating-linear-gradient(90deg ,var(--_c)) repeat-x;
    --_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
    background:
      var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
      var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
    background-size: 200% var(--b),var(--b) 200%;
    cursor: pointer;
    filter: grayscale(50%);
    transition: .3s;
}

.cardBorder:hover {
    --_p: 75%;
}

.active { @apply text-white lg:!bg-slate-300 lg:!text-black underline lg:no-underline rounded-xl }

.modal-overlay { @apply z-10 w-screen h-screen absolute top-0 bg-black bg-opacity-70 flex justify-center items-center }

.modal-box { @apply bg-white lg:w-4/6 w-5/6 lg:h-4/6 h-5/6 p-4 rounded-2xl flex flex-col }